
        *{
            margin: 0px;
            padding: 0px;
        }
        body
        {
            background: rgb(133, 133, 243);
            color: white;
            background-image: url(img/nature5.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 100vh;
            width: 100vw;
        }
        h1{
            width: 400px;
            border-radius: 10px;
            text-align: center;
            position: relative;
            left: 45%;
            
            text-transform: uppercase;
            margin: 20px;
            font-weight: 400;
            font-family: Arial, Helvetica, sans-serif;
            text-transform: uppercase;
            box-shadow: 4px 4px 8px black;
            text-shadow: 4px 4px 20px yellowgreen;
            /* font-size: medium; */
            /* white-space: 20px; */
        }
        .nevbar{
            width: auto;
            height: 100px;
            padding-left: 100px;
            text-transform: uppercase;
            /* background: red; */
            background-image: img/p;
            justify-content: center;
            align-items: center;
        }
        .nevbar a{
            font-style: none;
            margin: 10px;
            text-decoration: none;
            color: black;
            text-align: center;
            font-size:30px ;
            padding: 10px;
            height: auto;
            background: yellow;
            width: 400;
            border: 2px solid black;
            border-radius: 20px;
        }
        .nevbar input{
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            text-transform: uppercase;
            font-size: large;
            font-style:oblique ;
            width: 300px;
            border-radius: 20px;
            height: 30px;
            border: 3px solid black;
            position: absolute;
            top: 8%;
            left: 80%;
        }
        .login input
        {
            height: 40px;
            width: 300px;
            text-align: center;
            text-decoration: solid;
            text-transform: uppercase;
            font-size: larger;
            background: none;
            border-left: 3px solid red;
            border-bottom: 3px solid red;
            box-shadow: 4px 4px 8px yellow;
        }
    